
#head {
    font-family: Montserrat;
    size: 30px;
}
#search_bar {
    position:relative;
    left: 300px;
}

#cooking {
    position:relative;
    bottom:50px;
    width:100%;
    height:100%;
}
 
#pop_post {
    height: 50px;
}

#register {
    text-align:center;
    font-family: Archivo;
    font-size: 30px;
}
#reg_name {
    font-family: Archivo;
    font-size: 20px;
    text-align:right;
}
#reg_password {
    font-family: Archivo;
    font-size: 20px;
    text-align:right;
}